 <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="card">
        <h5 class="card-header placeholder col-3">{{category.name}}</h5>
        <img src="https://s3.amazonaws.com/assets.xmind.net/uploads/img/9092eed3b972cfbb33b78dcc7b29d30d.jpeg"
              class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text placeholder col-3"> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/category/{{category.name}}" class="btn btn-dark placeholder col-3">Go somewhere</a>
        </div>
        </div>
    </div>