<div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4 animate__animated animate__backInUp" >
  <div class="card category-card">
    <div class="text-center" >
      <h2 class="text-center category-name">
        {{category_name}}
      </h2>
      <a href="/category/{{id}}" class="category-button">View more </a>
    </div>
  </div>
</div>