        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">{{category_name}}</h5>
            <img
              src="https://thedigitalprojectmanager.b-cdn.net/wp-content/uploads/2023/10/DPM-agile-planning-featured-image-1280x720.png"
              class="card-img-top" alt="...">
            <div class="card-body">
              <a href="/category/{{id}}" class="btn btn-dark">View more </a>
            </div>
          </div>
        </div>