
        <div class="card bg-body-tertiary mb-4">
            <div class="row">
                
            <div class="col-6 col-sm-8  col-md-8 col-lg-8 col-xl-9">
                <div class="card-body" >
                    <h5 class="card-title">{{title}} <i class="bi bi-chat-left-quote"></i></h5>
                    <p class="card-text" >{{description}}.</p>
                </div>
            </div>
            </div>
        </div>
                