        <div class="card bg-body-tertiary mb-4">
            <div class="row no-gutters"">
                         <img src="{{image_url}}" class="card-img-top" alt="resource image">
                    <div class="card-body">
                        <h5 class="card-title col-12">{{title}}</h5>
                        <h5 class="card-text col-12">{{category_name}}</h5>
                        <p class="card-text placeholder-col-12">{{description}}.</p>
                        <a href="/project" class="btn btn-primary">More detail</a>
                    </div>
            </div>
           
                </div>
                