        <div class="card  mb-4">
            <div class="row no-gutters text-white">
                         <img src="{{image_url}}" class="card-img-fluid" alt="resource image">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <h5 class="card-text">{{category_name}}</h5>
                        <p class="card-text placeholder">{{description}}.</p>
                        <a href="/project" class="btn category-button">More detail</a>
                    </div>
            </div>
           
                </div>
                