        <div class="card bg-body-tertiary mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{resources.title}}</h5>
                        <p class="card-text">{{resources.description}}.</p>
                        <a href="/project" class="btn btn-primary">Go to Project</a>
                    </div>
                </div>
                