
        <div class=" mb-4 post-dashboard">
            <div class="row align-items-center p-4">
                <div class="col-5 col-sm-6 col-md-4 col-lg-5 col-xl-5 post-image-col">
<div class="d-flex justify-content-center">
                <img src="{{image_url}}" class="post-image" alt="resource image">
            </div>            </div>
            <div class="col-7 col-sm-6  col-md-8 col-lg-7 col-xl-6">
                <div class="" >
                    <h5 class="card-title text-white">{{title}} <i class="bi bi-chat-left-quote"></i></h5>
                    <p class="card-text text-white">{{description}}.</p>
                    <a href="/resource/{{id}}" class="btn post-button">View Detail</a>
                </div>
            </div>
            </div>
        </div>
                