        <div class="card bg-body-tertiary mb-4">
                    <img src="{{image_url}}" class="card-img-top" alt="resource image">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}.</p>
                        <a href="/resource/{{id}}" class="btn btn-primary">Go to post</a>
                    </div>
                </div>
                