<div class="mb-4 post-dashboard">
  <div class="row align-items-center p-4">
    <div class="col-2 col-sm-2 col-md-1 col-lg-2 col-xl-2 post-image-col">
      <div class="d-flex justify-content-center">
        <img src="{{image_url}}" class="post-image-dashboard" alt="resource image" />
      </div>
    </div>
    <div class="col-10 col-sm-10 col-md-11 col-lg-10 col-xl-10">
      <div class="">
        <h5 class="card-title text-white">{{title}}
          <i class="bi bi-chat-left-quote"></i></h5>
      </div>
    </div>
    <div class="col-12">
      <p class="card-text text-white post-text-dashboard">{{description}}.</p>

      <a href="/resource/{{id}}" class="btn post-button">View Detail</a>
    </div>
  </div>
</div>