  <div class="section">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Mapping</h5>
            <img src="https://s3.amazonaws.com/assets.xmind.net/uploads/img/9092eed3b972cfbb33b78dcc7b29d30d.jpeg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>

              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Shopping</h5>
            <img
              src="https://thedigitalprojectmanager.b-cdn.net/wp-content/uploads/2022/11/What-Is-The-Purpose-Of-Mind-Mapping-featured-image-1280x720.png"
              class="card-img-top" alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>


        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Sports</h5>
            <img
              src="https://thedigitalprojectmanager.b-cdn.net/wp-content/uploads/2022/10/Mind-Mapping-Techniques-featured-image-1280x720.png"
              class="card-img-top" alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Weather</h5>
            <img
              src="https://thedigitalprojectmanager.b-cdn.net/wp-content/uploads/2022/10/Mind-Mapping-Techniques-featured-image-1280x720.png"
              class="card-img-top" alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Events</h5>
            <img
              src="https://thedigitalprojectmanager.b-cdn.net/wp-content/uploads/2023/10/DPM-agile-planning-featured-image-1280x720.png"
              class="card-img-top" alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Gaming</h5>
            <img
              src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2023_09/3596444/230228-gaming-accessories-vl-2x1.jpg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <i class="fas fa-star ml-2"></i>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
          <div class="card">
            <h5 class="card-header">Technologies</h5>
            <img src="https://www.mida.gov.my/wp-content/uploads/2020/08/20200817135423_Svs-1.jpg" class="card-img-top"
              alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4 justify-content-center">
          <div class="card">
            <h5 class="card-header">Food</h5>
            <img
              src="https://atlassianblog.wpengine.com/wp-content/uploads/2016/05/try-using-mind-maps-to-plan-your-next-project@3x-1560x760.png"
              class="card-img-top" alt="...">
            <div class="card-body">

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-dark">Go somewhere</a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>


