<div class="section mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-8">
                {{#each resources as |resource|}}
                {{> resource-details}}
                {{/each}}
                <div class="col-6 col-lg-4">
                    <div class="form-title text-white mb-4">
                        <h1>Create Resource</h1>
                        <p id="user_id" hidden="true" class="text-white" >{{user_id}}</p>
                    </div>
                    <form class="row g-3 createform">
                        <div class="col-12">
                            <label for="inputTitle" class="form-label text-white">Title</label>
                            <input type="text" class="form-control" id="inputTitle" placeholder="Enter resource title">
                        </div>
                        <div class="col-12">
                            <label for="inputDescription" class="form-label text-white">Description</label>
                            <textarea class="form-control" id="Resource-description" rows="3"
                                placeholder="Resource Description"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="inputTags" class="form-label text-white">Tags</label>
                            <input type="text" class="form-control" id="inputTags" placeholder="Enter resource tag(s)">
                        </div>
                        <div class="col-md-4">
                            <label for="inputCategory" class="form-label text-white">Category</label>
                            <select id="inputCategory" class="form-select">
                                <option selected>Select resource category</option>
                                <option value="1">Food</option>
                                <option value="2">Weather</option>
                                <option value="3">Map</option>
                                <option value="4">Technology</option>
                                <option value="5">Shopping</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputImage" class="form-label text-white">Image</label>
                            <input type="text" class="form-control" id="inputImage" placeholder="url">
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label text-white" for="gridCheck">
                                    Add Image
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Create Resource</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/js/resource-with.js"></script>
    </div>