
{{#if loggedIn}}
  <div class="section">
    <div class="container p-5">
      <div class="row">
        {{#each categories as |category|}}  
            {{> category}}



       {{/each}} 

      </div>
    </div>

  </div>



{{/if}}