
{{#if loggedIn}}
  <div class="section">
    <div class="container-fluid p-5">
      <div class="row">
        {{#each categories as |category|}}  
            {{> category}}



        

      </div>
    </div>

  </div>


{{/each}}
{{/if}}