<div class="section mt-5">
  <div class="container">
    <div class="row login-box">
      <div class="col-6 " id="login">
        <form class="p-4">
          <div class="mb-3 text-white">
            <h3><i class="bi bi-person"></i> Login </h3>
            <label class="form-label text-white">Email address</label>
            <input type="email" class="form-control custom-input" placeholder="Enter a valid email" id="email"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label class="form-label text-white">Password</label>
            <input type="password" placeholder="****************" class="form-control custom-input" id="password">
          </div>
          <button type="submit" class="btn col-12 login-button">Login</button>
        </form>
      </div>
      <div class="col-6 " id="signUp">
        <div class="container text-white pt-4 ">
          <form class="signup-form">
            <div class="mb-3">
              <h3><i class="bi bi-person-plus"></i> Sign Up  </h3>

              {{!-- username --}}
              <label for="username" class="form-label" required>Username</label>
              <input type="text" class="form-control custom-input" aria-describedby="inputGroup-sizing-sm" id="username"
                placeholder="Username">
            </div>
            {{!-- email --}}
            <div class="mb-3">
              <label for="userEmail" class="form-label" required>Email address</label>
              <input type="email" id="emailSignup" class="form-control custom-input" placeholder="Enter Valid Email"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            {{!-- password --}}
            <div class="mb-3">
              <label for="password" class="form-label" required>Password</label>
              <input type="password" id="passwordSignup" class="form-control custom-input" placeholder="************">
              <div id="emailHelp" class="form-text">Must be 8-20 characters long.</div>
            </div>
            <div class="d-flex">
              <button type="submit" class="btn col-12 login-button me-2">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/loginpage.js"></script>

  </div>
</div>