  <div class="section">
    
    <div class="container-fluid p-5">
      <div class="row">
         <div class="col-12 text-center">
          <div class="form-title text-white mb-4">
            <h3> Lets get started </h3>
            <div class="row">
          <div class="col-11">
                            <select id="searchByCategory" class="form-select custom-input">
                                <option selected>Select resource category</option>
                                <option value="1" id="sports">sports</option>
                                <option value="2" id="food">food</option>
                                <option value="3" id="music">music</option>
                                <option value="4" id="weather">weather</option>
                                <option value="5" id="events">events</option>
                                <option value="6" id="gaming">gaming</option>
                                <option value="7" id="technologies">technologies</option>
                                <option value="8" id="shopping">shopping</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <button type="submit" id="search-btn" class="btn search-button">search</button>
                        </div>
                 </div>       
          </div>
          </div>
        {{#each resources as |resource|}}
        <div class="card col-12 col-md-5 col-lg-6 col-xl-2 m-3">
          <h4 class="card-header">{{title}}</h4>
          <img src="{{image_url}}" class="card-img-top" ">
          <div class="card-body">
            <h6 class="card-text">{{user_id}}</h6>
            <p class="card-text">{{description}}</p>

          </div>
        </div>
        {{/each}}
      </div>
      </div>
    </div>

