  <div class="section">
    <div class="container-fluid p-5">
      <div class="row">
        {{#each resources as |resource|}}
        <div class="card col-12 col-md-5 col-lg-6 col-xl-2 m-3">
          <h4 class="card-header">{{title}}</h4>
          <img src="{{image_url}}" class="card-img-top" ">
          <div class="card-body">
            <h6 class="card-text">{{user_id}}</h6>
            <p class="card-text">{{description}}</p>

          </div>
        </div>
        {{/each}}
      </div>
      </div>
    </div>

