<div class="section">

  <div class="container-fluid p-5">
    <div class="row animate__animated animate__fadeIn">
      <div class="col-12 text-center">
        <div class="form-title text-white mb-4">
          <div class="row">
            <div class="col-8 col-sm-9 col-md-10">
              <select
                id="searchByCategory"
                class="form-select custom-input-search"
              >
                <option selected>Search by category</option>
                <option value="1" id="sports">sports</option>
                <option value="2" id="food">food</option>
                <option value="3" id="music">music</option>
                <option value="4" id="weather">weather</option>
                <option value="5" id="events">events</option>
                <option value="6" id="gaming">gaming</option>
                <option value="7" id="technologies">technologies</option>
                <option value="8" id="shopping">shopping</option>
              </select>
            </div>
            <div class="col-4 col-sm-3 col-md-2">
              <button
                type="button"
                id="search-btn"
                class="btn search-button"
              >search</button>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12">
        <h3 class="header">
          Category :
          <span id="categoryIdConverter"> {{id}}  </span>
        </h3>
      </div>
      {{#each resources as |resource|}}
      {{> homepage-resources}}

      {{/each}}

    </div>
  </div>

  <script src="/js/categoryConverter.js"></script>
</div>