<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/welcomepage.css">
      <link rel="stylesheet" href="/css/scrollbar.css">
    <title>Hello</title>
</head>
<body>
    <div id="main" class="container-fluid animate__animated animate__fadeIn">
        <div class="container text-center ">
            <div class="row ">
              <div class="col">
               <h1 id="logo">API Adventures</h1>
               <button type="button" id="getStart" class="btn btn-lg mt-3"> Get Started </button>
              </div>

            </div>
          </div>
    </div>
  
  
    <script src="/js/welcomepage.js"></script>
</body>
</html>