.post-dashboard{
    background-color: #1d2129ca;
    border-radius: 20px;
    font-family: Nunito Sans, sans-serif;
}

.post-image{
    border-radius: 30px;
    max-width: 80px;
    max-height: 80px;
    box-shadow: 0px 0px 5px 0px #1e1d1d;
}

.post-image-dashboard{
    border-radius: 10px;
    max-width: 50px;
    max-height: 50px;
}

.post-button{
    color: #ebe6e6;
    border-color: none;
    border-radius: 20px;
    background-color: rgba(33, 56, 68, 0.825);
    padding: 10px;
    font-family: Poppins, Courier, monospace;
}

.post-button:hover{
    color: #ebe5e5;
    background-color: #355270f4;
    transition: .4s;
    border-color: none;
}

.post-description{
    color: white;
    font-family: Nunito Sans, sans-serif;

}

.edit-form-modal{
    margin-top: 10%;
}

.header{
    color: rgb(190, 155, 221);
    font-family: Poppins, sans-serif;
    padding-bottom: 20px;
    font-weight: 200;
}

.post-detail-image{
    border-radius: 20px;
    width: 150px;
    max-height: 150px;
    height:max-content;
    box-shadow: 0px 0px 5px 0px #1e1d1d;
}

.post-text-dashboard{
    padding-top: 40px;
    padding: 20px;

    
}


.post-dashboard:hover{
    background-color: #3e4c5d91;
    transition: .6s;
    border-radius: 20px;
    cursor:pointer

}

.more-detail-text{
    color: #53545f;
    font-size: 15px;
    font-family: Poppins, Courier, monospace;

}

.more-detail-text:hover{
    color: #5d85d5da;
    transition: .4s;
}

.homepage-post-text{
    max-height: 100px;
    overflow: hidden;
}

@media screen and (max-width: 600px){
    .post-detail-image{
        max-width: 60px;
        max-height: 60px;;
    }
    .post-image{
        max-width: 100px;
        max-height: 100px;
    }
    .post-button{
        padding: 5px;
    }
    .post-description{
        padding-top: 20px;
        font-size: 12px;
    }
    .header{
        font-size: 20px;
    }
    .custom-input-search{
        font-size: 10px;
    }
    .search-button{
        padding: 0px;
    }
  
}

@media screen and (max-width: 1200px){
    .post-detail-image{
        width: 100px;
    }
   .post-description{
       margin-right: 30px;
   }
    
}


@media screen and (max-width: 780px){
    .post-image{
        width: 30px;
        height: 30px;
  
     
    
    
    }
    .home-resource-title{
        font-size: 15px;
        
    }

   
    .timestamp{
        font-size: 13px;
    
    }
    .more-detail-text{
        display: none;
    
    
    }

    .one-resource-title{
        font-size: 15px;
    }

    .home-resource-description{
        font-size: 14px;
    }
}


@media screen and ( min-width: 1200px){
    .text-need-space{
        margin-left: 20px;
    }
    
}