.post-dashboard{
    background-color: rgba(29, 43, 67, 0.527);
    border-radius: 20px;
    font-family: Nunito Sans, sans-serif;
}



.post-image{
    border-radius: 200px;
    width: 120px
}

.post-button{
    color: #ebe5e5;
}

.post-button:hover{
    color: #ebe5e5;
    background-color: #093158;
    transition: .6s;
}
