/* a {
    font-family: 'Rubik', sans-serif;
} */

body {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    flex-wrap: wrap;
    background-image: url("../image/datamove1.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1300px;
   

}


header {
    background-color: rgb(61, 140, 96);
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.col-5 {
    background-color: rgba(74, 76, 76, 0.359);
    padding: 50px;
    border-radius: 20px;
}

nav {

    background-color: rgba(0, 0, 0, 0.755);
    

}

#navbrand{
    font-size: 40px;
}


.navbar-brand {
    font-family: 'Shizuru', sans-serif;

}


nav a {
    color: white;
    font-size: 24px;
}

.nav-link {
    margin-left: 40px;

}

.nav-item a {
    color: rgba(217, 202, 202, 0.363);
    font-size: 24px;
}

.nav-item a:hover {
    color: rgba(81, 170, 190, 0.853);
}

#updateform {
    background-color: rgba(60, 60, 60, 0.812);
    border-radius: 30px;
}

.card-text, .card-title, .card-header {
    color: black;
}

@media screen and (max-width: 600px) {
    #signUp {
        padding-top: 200px;
    }
    #loginBox{
        padding-top: 100px;
    }

    #navbrand{
        font-size: 20px;
    }
    
}