body {
    background-image: url("../../image/sl_031420_28950_10.jpg");
    background-size: cover;
    min-height: 2000px;

}

#main {
    margin-top: 200px;
}
#logo {
    font-size: 100px;
    font-family: 'Shizuru', sans-serif;
}

@media screen and (max-width: 800px) {
    #main {
        margin-top: 70px;
    }
    #logo {
        font-size: 50px;
    }
    
}