body {
    background-image: url("../image/datamove1.gif");
    background-size:cover;
    background-position: center;
    height: 100vh;

}
/* Track */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar handle */
    border-radius: 5px; /* roundness of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar handle on hover */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the scrollbar track */
  }
  
  /* Corner */
  ::-webkit-scrollbar-corner {
    background: transparent; /* color of the scrollbar corner (between vertical and horizontal scrollbar) */
  }

#main {
    margin-top: 200px;
}
#logo {
    font-size: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: rgba(213, 213, 217, 0.632);
}

#getStart{
    background-color: rgba(0, 0, 0, 0.889);
    color: rgba(224, 221, 221, 0.744);
    padding: 13px;
    border-radius: 30px;
    font-family: Poppins;
    transform: scale(1.1);
}

#getStart:hover{
    transform: scale(1.2);
    transition: .6s;
}

.nav-link {
    margin-left: 40px;
    color: #3f5477;
    font-size: 24px;

}



.nav-link:hover {
    color: #a1bebdda;
}

@media screen and (max-width: 600px) {
    #main {
        margin-top: 140px;
    }
    #logo {
        font-size: 50px;
    }
    #getStart {
        padding: 10px;
    }
    
}